In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics, svm
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas, xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Using TensorFlow backend.

## Making pandas dataframes for training and test data

In [0]:
dftrain=pandas.read_csv('/content/gdrive/My Drive/Hackerearth (1)/7c9cd64e078411e9 (1)/dataset (1)/hm_train.csv')

In [0]:
dftest=pandas.read_csv('/content/gdrive/My Drive/Hackerearth (1)/7c9cd64e078411e9 (1)/dataset (1)/hm_test.csv')

## Exploratory data analysis

In [4]:
dftrain.head()

,hmid,reflection_period,cleaned_hm,num_sentence,predicted_category
0,27673,24h,I went on a successful date with someone I fel...,1,affection
1,27674,24h,I was happy when my son got 90% marks in his e...,1,affection
2,27675,24h,I went to the gym this morning and did yoga.,1,exercise
3,27676,24h,We had a serious talk with some friends of our...,2,bonding
4,27677,24h,I went with grandchildren to butterfly display...,1,affection

In [5]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60321 entries, 0 to 60320
Data columns (total 5 columns):
hmid                  60321 non-null int64
reflection_period     60321 non-null object
cleaned_hm            60321 non-null object
num_sentence          60321 non-null int64
predicted_category    60321 non-null object
dtypes: int64(2), object(3)
memory usage: 2.3+ MB

In [6]:
dftrain

,hmid,reflection_period,cleaned_hm,num_sentence,predicted_category
0,27673,24h,I went on a successful date with someone I fel...,1,affection
1,27674,24h,I was happy when my son got 90% marks in his e...,1,affection
2,27675,24h,I went to the gym this morning and did yoga.,1,exercise
3,27676,24h,We had a serious talk with some friends of our...,2,bonding
4,27677,24h,I went with grandchildren to butterfly display...,1,affection
5,27678,24h,I meditated last night.,1,leisure
6,27679,24h,"I made a new recipe for peasant bread, and it ...",1,achievement
7,27680,24h,I got gift from my elder brother which was rea...,1,affection
8,27681,24h,YESTERDAY MY MOMS BIRTHDAY SO I ENJOYED,1,enjoy_the_moment
9,27682,24h,Watching cupcake wars with my three teen children,1,affection
10,27683,24h,I came in 3rd place in my Call of Duty video g...,1,leisure
11,27684,24h,I completed my 5 miles run without break. It m...,2,exercise
12,27685,24h,went to movies with my friends it was fun,1,bonding
13,27686,24h,I was shorting Gold and made $200 from the trade.,1,achievement
14,27687,24h,Hearing Songs It can be nearly impossible to g...,2,enjoy_the_moment
15,27688,24h,My son performed very well for a test preparat...,1,affection
16,27689,24h,I helped my neighbour to fix their car damages.,1,bonding
17,27690,24h,Managed to get the final trophy in a game I wa...,1,achievement
18,27691,24h,A hot kiss with my girl friend last night made...,1,bonding
19,27692,24h,My new BCAAs came in the mail. Yay! Strawberry...,3,affection
20,27693,24h,Got A in class.,1,achievement
21,27694,24h,My sister called me from abroad this morning a...,2,affection
22,27695,24h,The cake I made today came out amazing. It tas...,2,achievement
23,27696,24h,There are two types of people in the world: th...,2,enjoy_the_moment
24,27697,24h,My grandmother start to walk from the bed afte...,1,affection
25,27698,24h,i was able to hit a top spin serve in tennis,1,achievement
26,27699,24h,I napped with my husband on the bed this after...,1,affection
27,27700,24h,My co-woker started playing a Carley Rae Jepse...,1,leisure
28,27701,24h,My son woke me up to a fantastic breakfast of ...,1,affection
29,27702,24h,After a long time my brother gave a suprise vi...,1,affection
...,...,...,...,...,...
60291,88274,3m,I saw a butterfly land on my cats nose.,1,affection
60292,88275,3m,I got a compliment at work. A supervisor said ...,2,achievement
60293,88276,3m,the day i get a new girlfriend and i loved her...,1,affection
60294,88277,3m,My uncle got married and we had fun at the cer...,1,affection
60295,88278,3m,I had a personal record lift on my power jerk ...,1,achievement
60296,88279,3m,I had a kiss with my mother.,1,affection
60297,88280,3m,I graduated from college a few weeks ago.,1,achievement
60298,88281,3m,I felt happy when I found out my good friend i...,1,bonding
60299,88282,3m,My girlfriend made me my favorite dinner.,1,affection
60300,88283,3m,I got a legendary out of a pack of cards in He...,1,achievement
60301,88284,3m,I was able to complete a laptop image last min...,1,achievement
60302,88285,3m,I went on a nice vacation with my brother.,1,affection
60303,88286,3m,My garden is starting to spout.,1,achievement
60304,88287,3m,I talked to a friend,1,bonding
60305,88288,3m,"I'm starting to gain a good flow on mturk, im ...",2,achievement
60306,88289,3m,I won a poker game,1,achievement
60307,88290,3m,An event that made me happy was my close frien...,2,bonding
60308,88291,3m,"I was offered a job that I had applied for, an...",1,achievement
60309,88292,3m,I filed my taxes and am promised a large refund.,1,achievement
60310,88293,3m,"I came home late, after spending time with my ...",1,affection
60311,88294,3m,"In the past 3 months, my best friend got married",1,bonding
60312,88295,3m,Playing a good game of soccer on the weekend.,1,leisure
60313,88296,3m,A new Charles Willeford book showed up in my l...,1,achievement
60314,88297,3m,My birthday was last month and I was able to g...,2,affection
60315,88298,3m,when i got a high level on a video game,1,leisure
60316,88299,3m,I got together with my best friend and baked c...,1,bonding
60317,88300,3m,I went to a restaurant with friends,1,bonding
60318,88301,3m,The other day on Mechanical Turk I made over f...,1,achievement
60319,88302,3m,Finished the semester today and aced majority ...,2,achievement
60320,88303,3m,An event that made me happy in the past 3 mont...,2,affection

In [7]:
dftest.head()

,hmid,reflection_period,cleaned_hm,num_sentence
0,88305,3m,I spent the weekend in Chicago with my friends.,1
1,88306,3m,We moved back into our house after a remodel. ...,2
2,88307,3m,My fiance proposed to me in front of my family...,1
3,88308,3m,I ate lobster at a fancy restaurant with some ...,1
4,88309,3m,I went out to a nice restaurant on a date with...,5

## Generating a new training dataframe for feature(text) and label (category), and a new test dataframe having sequence of texts.

In [0]:
trainDF = pandas.DataFrame()
trainDF['text'] = dftrain['cleaned_hm']
trainDF['label'] = dftrain['predicted_category']

In [0]:
testDF=pandas.DataFrame()
testDF['text']=dftest['cleaned_hm']

## splitting the dataset into training and validation datasets

In [0]:
 train_x, valid_x, train_y, valid_y = model_selection.train_test_split(trainDF['text'], trainDF['label'],random_state=0)

## label encoding the target variable (representing categories mathematically)

In [0]:
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_y)
valid_y = encoder.fit_transform(valid_y)

## Converting text data into feature vectors using different approaches

In [0]:
# creating a count vectorizer object 
count_vect = CountVectorizer(analyzer='word', token_pattern=r'\w{1,}')
count_vect.fit(trainDF['text'])

# transform the training and validation data using count vectorizer object
xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

In [0]:
xtest_count =  count_vect.transform(testDF['text'])

In [0]:
# word level tf-idf
tfidf_vect = TfidfVectorizer(analyzer='word', token_pattern=r'\w{1,}', max_features=5000)
tfidf_vect.fit(trainDF['text'])
xtrain_tfidf =  tfidf_vect.transform(train_x)
xvalid_tfidf =  tfidf_vect.transform(valid_x)

xtest_tfidf =  tfidf_vect.transform(testDF['text'])

# ngram level tf-idf 
tfidf_vect_ngram = TfidfVectorizer(analyzer='word', token_pattern=r'\w{1,}', ngram_range=(2,3), max_features=5000)
tfidf_vect_ngram.fit(trainDF['text'])
xtrain_tfidf_ngram =  tfidf_vect_ngram.transform(train_x)
xvalid_tfidf_ngram =  tfidf_vect_ngram.transform(valid_x)

xtest_tfidf_ngram =  tfidf_vect.transform(testDF['text'])

# characters level tf-idf
tfidf_vect_ngram_chars = TfidfVectorizer(analyzer='char', token_pattern=r'\w{1,}', ngram_range=(2,3), max_features=5000)
tfidf_vect_ngram_chars.fit(trainDF['text'])
xtrain_tfidf_ngram_chars =  tfidf_vect_ngram_chars.transform(train_x) 
xvalid_tfidf_ngram_chars =  tfidf_vect_ngram_chars.transform(valid_x)

xtest_tfidf_ngram_chars =  tfidf_vect.transform(testDF['text'])

# Training Function

In [0]:
def train_model(classifier, feature_vector_train, label, feature_vector_valid, is_neural_net=False):
    # fit the training dataset on the classifier
    classifier.fit(feature_vector_train, label)
    
    # predict the labels on validation dataset
    predictions = classifier.predict(feature_vector_valid)
    
    if is_neural_net:
        predictions = predictions.argmax(axis=-1)
    
    return metrics.accuracy_score(predictions, valid_y)

## Using Naive Bayes Classifier

In [16]:
# Naive Bayes on Count Vectors
accuracy = train_model(naive_bayes.MultinomialNB(), xtrain_count, train_y, xvalid_count)
print("NB, Count Vectors: ", accuracy)

# Naive Bayes on Word Level TF IDF Vectors
accuracy = train_model(naive_bayes.MultinomialNB(), xtrain_tfidf, train_y, xvalid_tfidf)
print("NB, WordLevel TF-IDF: ", accuracy)

# Naive Bayes on Ngram Level TF IDF Vectors
accuracy = train_model(naive_bayes.MultinomialNB(), xtrain_tfidf_ngram, train_y, xvalid_tfidf_ngram)
print("NB, N-Gram Vectors: ", accuracy)

# Naive Bayes on Character Level TF IDF Vectors
accuracy = train_model(naive_bayes.MultinomialNB(), xtrain_tfidf_ngram_chars, train_y, xvalid_tfidf_ngram_chars)
print("NB, CharLevel Vectors: ", accuracy)

NB, Count Vectors:  0.8163914859757311
NB, WordLevel TF-IDF:  0.7723625754260327
NB, N-Gram Vectors:  0.759697632782972
NB, CharLevel Vectors:  0.755719116769445

decent accuracy achieved

## Using Linear Classifier

In [17]:
# Linear Classifier on Count Vectors
accuracy = train_model(linear_model.LogisticRegression(), xtrain_count, train_y, xvalid_count)
print("LR, Count Vectors: ", accuracy)

# Linear Classifier on Word Level TF IDF Vectors
accuracy = train_model(linear_model.LogisticRegression(), xtrain_tfidf, train_y, xvalid_tfidf)
print("LR, WordLevel TF-IDF: ", accuracy)

# Linear Classifier on Ngram Level TF IDF Vectors
accuracy = train_model(linear_model.LogisticRegression(), xtrain_tfidf_ngram, train_y, xvalid_tfidf_ngram)
print("LR, N-Gram Vectors: ", accuracy)

# Linear Classifier on Character Level TF IDF Vectors
accuracy = train_model(linear_model.LogisticRegression(), xtrain_tfidf_ngram_chars, train_y, xvalid_tfidf_ngram_chars)
print("LR, CharLevel Vectors: ", accuracy)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LR, Count Vectors:  0.9293813407598965
LR, WordLevel TF-IDF:  0.9135998939062396
LR, N-Gram Vectors:  0.813871759167164
LR, CharLevel Vectors:  0.8720244015648829

Thats a pretty good accuracy using Linear classifier on count vectors

## Using SVM

In [18]:
accuracy = train_model(svm.SVC(), xtrain_tfidf_ngram, train_y, xvalid_tfidf_ngram)
print("SVM, N-Gram Vectors: ", accuracy)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVM, N-Gram Vectors:  0.3489158543863139

took training time but result is bad

## Using Random Forest Classifier

In [19]:
# RF on Count Vectors
accuracy = train_model(ensemble.RandomForestClassifier(), xtrain_count, train_y, xvalid_count)
print("RF, Count Vectors: ", accuracy)

# RF on Word Level TF IDF Vectors
accuracy = train_model(ensemble.RandomForestClassifier(), xtrain_tfidf, train_y, xvalid_tfidf)
print("RF, WordLevel TF-IDF: ", accuracy)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RF, Count Vectors:  0.7959021285060672

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RF, WordLevel TF-IDF:  0.8016046681254558

## Gradient boosting

In [20]:
# Extereme Gradient Boosting on Count Vectors
accuracy = train_model(xgboost.XGBClassifier(), xtrain_count.tocsc(), train_y, xvalid_count.tocsc())
print("Xgb, Count Vectors: ", accuracy)

# Extereme Gradient Boosting on Word Level TF IDF Vectors
accuracy = train_model(xgboost.XGBClassifier(), xtrain_tfidf.tocsc(), train_y, xvalid_tfidf.tocsc())
print("Xgb, WordLevel TF-IDF: ", accuracy)

# Extereme Gradient Boosting on Character Level TF IDF Vectors
accuracy = train_model(xgboost.XGBClassifier(), xtrain_tfidf_ngram_chars.tocsc(), train_y, xvalid_tfidf_ngram_chars.tocsc())
print("Xgb, CharLevel Vectors: ", accuracy)

Xgb, Count Vectors:  0.7867515416749552
Xgb, WordLevel TF-IDF:  0.7852264438697699
Xgb, CharLevel Vectors:  0.8004111133213978

## Using a shallow neural network

In [21]:
def create_model_architecture(input_size):
    # create input layer 
    input_layer = layers.Input((input_size, ), sparse=True)
    
    # create hidden layer
    hidden_layer = layers.Dense(100, activation="relu")(input_layer)
    
    # create output layer
    output_layer = layers.Dense(1, activation="sigmoid")(hidden_layer)

    classifier = models.Model(inputs = input_layer, outputs = output_layer)
    classifier.compile(optimizer=optimizers.Adam(), loss='binary_crossentropy')
    return classifier 

classifier = create_model_architecture(xtrain_tfidf_ngram.shape[1])
accuracy = train_model(classifier, xtrain_tfidf_ngram, train_y, xvalid_tfidf_ngram, is_neural_net=True)
print("NN, Ngram Level TF IDF Vectors",  accuracy)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/1
45240/45240 [==============================] - 10s 218us/step - loss: -7.0864
NN, Ngram Level TF IDF Vectors 0.3306809893243154

## Making function for returning predicted values using a classifier on test set.

In [0]:
def get_pred(classifier, feature_vector_train, label, feature_vector_test, is_neural_net=False):
    # fit the training dataset on the classifier
    classifier.fit(feature_vector_train, label)
    
    # predict the labels on validation dataset
    predictions = classifier.predict(feature_vector_test)
    return predictions

## Since linear classifier on count vectors gave best accuracy so using it for test predictions

In [23]:
#Gen_pred=get_pred(linear_model.LogisticRegression(), xtrain_count, train_y, xtest_count)
Gen_pred=get_pred(linear_model.LogisticRegression(), xtrain_tfidf, train_y, xtest_tfidf)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

## Making dataframe for holding predicted values

In [24]:
P=pandas.DataFrame()
Idh = pandas.Series([])
Cat=pandas.Series([])
for i in range(len(Gen_pred)):
  Idh[i]=dftest['hmid'].iloc[i]
  if Gen_pred[i]==0:
    Cat[i]='achievement'
  elif Gen_pred[i]==1:
    Cat[i]='affection'
  elif Gen_pred[i]==2:
    Cat[i]='bonding'
  elif Gen_pred[i]==3:
    Cat[i]='enjoy_the_moment'
  elif Gen_pred[i]==4:
    Cat[i]='exercise'
  elif Gen_pred[i]==5:
    Cat[i]='leisure'
  elif Gen_pred[i]==6:
    Cat[i]='nature'
P.insert(0, 'hmid', Idh)
P.insert(1, 'predicted_category', Cat)
P

         hmid predicted_category
0       88305            bonding
1       88306        achievement
2       88307          affection
3       88308            bonding
4       88309          affection
5       88310        achievement
6       88311        achievement
7       88312          affection
8       88313            leisure
9       88314          affection
10      88315        achievement
11      88316          affection
12      88317            bonding
13      88318        achievement
14      88319          affection
15      88320          affection
16      88321        achievement
17      88322          affection
18      88323          affection
19      88324        achievement
20      88325        achievement
21      88326        achievement
22      88327          affection
23      88328          affection
24      88329        achievement
25      88330        achievement
26      88331   enjoy_the_moment
27      88332        achievement
28      88333            leisure
29      88334          affection
...       ...                ...
40183  128737        achievement
40184  128738        achievement
40185  128739            leisure
40186  128740        achievement
40187  128741   enjoy_the_moment
40188  128742            bonding
40189  128743            bonding
40190  128744            bonding
40191  128745          affection
40192  128746   enjoy_the_moment
40193  128747   enjoy_the_moment
40194  128748          affection
40195  128749        achievement
40196  128750        achievement
40197  128751        achievement
40198  128752        achievement
40199  128753   enjoy_the_moment
40200  128754            leisure
40201  128755            bonding
40202  128756        achievement
40203  128757            bonding
40204  128758          affection
40205  128759        achievement
40206  128760          affection
40207  128761          affection
40208  128762          affection
40209  128763   enjoy_the_moment
40210  128764          affection
40211  128765        achievement
40212  128766           exercise

[40213 rows x 2 columns]

## Generating predicted file in csv format

In [0]:
P.to_csv("my_submission2.csv", index=False)

In [0]:
from google.colab import files
files.download('my_submission2.csv')